# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
tmp/

# Model files
*.pt
*.pth
*.onnx
*.h5

# Private / real patient data
data/private/